.avatar {
  width: 200px;
  height: 200px;
  margin: 1em auto;
  border-radius: 50%;
  background-size: contain;
}

.red {
  color: red;
}

button:hover {
  cursor: pointer !important;
}

.loading {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  display: none;
}

.card-header:hover,
.project-heading:hover {
  cursor: pointer;
}

.no-display {
  display: none;
}

.project-caption {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-view article {
  background-color: lightgrey;
  border-radius: 5px;
  margin: 1em 0;
}

.projects-view article h3 {
  text-align: center;
  text-transform: capitalize;
}

.project-icon {
  height: 9em;
  width: 9em;
  margin: 0 auto;
  border-radius: 50%;
}

.nopadding {
  padding: 0;
}

.projects-view article h5 {
  text-align: center;
  font-style: italic;
  color: green;
}

.projects-view article p {
  text-align: center;
}

.projects-view article h4,
h6 {
  text-align: center;
  padding: 0.3em 0;
}

.projects-view li {
  background-color: lightgrey;
}

.projects-view form {
  background-color: #fff;
  margin: 1em 0;
  padding: 0.5em;
  width: 70%;
  border-radius: 7px;
}

.gold {
  color: #ffff00;
}

.list-header {
  border-radius: 5px;
}

.list-header:hover {
  cursor: pointer;
}

.projects-view input[type="text"],
button,
textarea {
  margin: 0.2em 0;
}

.red {
  color: red !important;
}

.card-title {
  color: blue;
}

.black {
  color: #000;
}

