/* Variables */

/* mixins */

/* Media query */

/* General */

.chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.chat .chat-btn a {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  color: #5b6f83;
}

.chat .chat-btn .notify {
  font-size: 10px;
  background-color: #DE273E;
  position: absolute;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  color: #fff;
  width: 15px;
  text-align: center;
  border-radius: 15px;
  top: 5px;
  right: 5px;
}

.chat .chat-open {
  width: 240px;
  height: 320px;
  position: fixed;
  display: none;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.chat .chat-open .chat-container {
  width: 480px;
  min-height: 320px;
}

.chat .chat-open .contact-list {
  width: 240px;
  min-height: 320px;
  height: auto;
  display: block;
  position: relative;
  float: left;
}

.chat .chat-open .contact-list header {
  background-color: #5b6f83;
  padding: 6px 8px;
  color: #fff;
  overflow: hidden;
  width: 224px;
  z-index: 10;
}

.chat .chat-open .contact-list header a {
  color: #fff;
}

.chat .chat-open .contact-list header h5 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.chat .chat-open .contact-list header i {
  font-size: 18px;
  margin: 0;
}

.chat .chat-open .contact-list a {
  color: #5b6f83;
  text-decoration: none;
}

.chat .chat-open .contact-list ul {
  height: 284px;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.chat .chat-open .contact-list ul .unread {
  font-size: 8px;
  line-height: 14px;
  padding: 0 5px;
  position: relative;
  top: -12px;
  text-align: center;
  color: #fff;
  background-color: #DE273E;
  display: inline-block;
  border-radius: 8px;
}

.chat .chat-open .contact-list ul li {
  display: inline-block;
}

.chat .chat-open .contact-list ul li a {
  display: block;
  padding: 8px 8px;
  border-bottom: 1px #e6e9ed solid;
  width: 224px;
}

.chat .chat-open .contact-list ul li a i {
  float: right;
  font-size: 18px;
  line-height: 28px;
}

.chat .chat-open .contact-list ul li a:before {
  content: "";
  height: 12px;
  width: 12px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 7px;
  background-color: #5b6f83;
}

.chat .chat-open .contact-list ul li a:hover {
  background-color: #e6e9ed;
}

.chat .chat-open .contact-list ul li .on:before {
  background-color: #0dab88;
}

.chat .chat-open .contact-message {
  width: 240px;
  min-height: 320px;
  display: block;
  height: auto;
  position: relative;
  float: left;
}

.chat .chat-open .contact-message header {
  background-color: #5b6f83;
  padding: 6px 8px;
  color: #fff;
  overflow: hidden;
  width: 224px;
  z-index: 10;
}

.chat .chat-open .contact-message header a {
  color: #fff;
}

.chat .chat-open .contact-message header h5 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.chat .chat-open .contact-message header h5:after {
  content: "";
  height: 12px;
  width: 12px;
  margin-left: 8px;
  display: inline-block;
  border-radius: 7px;
  background-color: #e6e9ed;
}

.chat .chat-open .contact-message header .on:after {
  background-color: #0dab88;
}

.chat .chat-open .contact-message header i {
  font-size: 18px;
  margin: 0;
}

.chat .chat-open .contact-message .scroll {
  height: 220px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: auto;
  font-size: 13px;
}

.chat .chat-open .contact-message .scroll .to {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #3C6A98;
  width: 80%;
  margin-left: calc(20% - 12px);
  float: right;
  line-height: 1.4em;
  color: #fff;
  border-radius: 5px;
  padding: 4px 6px;
}

.chat .chat-open .contact-message .scroll .to p {
  margin: 0;
}

.chat .chat-open .contact-message .scroll .to .date {
  font-size: 9px;
  text-align: right;
  color: #0dab88;
}

.chat .chat-open .contact-message .scroll .from {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #e6e9ed;
  width: 80%;
  margin-right: calc(20% - 12px);
  float: right;
  line-height: 1.4em;
  color: #fff;
  border-radius: 5px;
  padding: 4px 6px;
  color: #5b6f83;
}

.chat .chat-open .contact-message .scroll .from p {
  margin: 0;
}

.chat .chat-open .contact-message .scroll .from .date {
  font-size: 9px;
  color: #0dab88;
}

.chat .chat-open .contact-message .scroll .from .name {
  font-weight: bold;
}

.chat .chat-open .contact-message .input {
  display: block;
  padding: 3px 6px;
  height: 60px;
  background-color: #e6e9ed;
  padding-top: 6px;
  padding-bottom: 6px;
}

.chat .chat-open .contact-message textarea {
  width: 160px;
  height: 44px;
  display: inline-block;
  float: left;
  font-size: 12px;
}

.chat .chat-open .contact-message .send {
  float: left;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: 10px;
  background-color: #0dab88;
  color: #fff;
  text-decoration: none;
}

